body{
    padding: 10px;
}


a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: white;
    text-decoration: none;
}


.bg-primary .container .roe


a:hover {
    color: white;
    text-decoration: none;
}


.jumbotron{
    background-color: rgb(1, 1, 84);
    width: 100%;
}

.jumbotron .h1{
    font-size: 60px;
}

.jumbotron .h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}



.saludo{
color: rgb(252, 220, 75);
font-style: italic;
}




.subtitulo{
    color: white;
}




.centrado{
    margin: 0 auto;
    text-align: center;
    padding: 30px;
}



.color-fondo-1{
    background-color: rgba(235, 225, 255, 0.823);
}

.color-fondo-2{
    background-color: rgba(251, 224, 181, 0.823);
}


.font-blanca{
    color: white;
}


.footmenu{
    background-color: blueviolet; 
    color: white;
}












.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .show {
    display: block;
  }